name: test

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-16.04
        strategy:
            matrix:
                deno: [1.8.2]
        name: Deno ${{ matrix.deno }}
        steps:
            - uses: actions/checkout@master
            - name: Setup deno
              uses: denolib/setup-deno@master
              with:
                  deno-version: ${{ matrix.deno }}
            - name: Lint
              run: deno lint --unstable
            - name: Test
              run: deno test --allow-read --unstable
